@import "../../variables.scss";

.footer {
  padding-bottom: 0;
  padding-top: 0;

  a:hover,
  .footer a:hover * {
    color: $secondary;
  }

  ul {
    list-style: none;
  }
}

.main {
  color: $main;
  text-align: left;
  //add
  padding: 2rem 0;

  [dir="rtl"] {
    text-align: right;
  }
  @include mq() {
    //add
    padding: 3rem 0;
  }
}

.mainInner {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0;
  @include mq("sm") {
    padding: 0 32px;
  }
}

// foot area
.foot {
  padding-top: 1rem;

  ul {
    margin: 0.5rem 1rem;
    li {
      //add
      display: inline-block;
      font-size: $font-small;
      font-weight: 600;
      margin-right: 1rem;
      &:visited {
        color: $main-light;
      }
      a {
        color: $main-light;
        text-decoration: none;
      }
    }
  }
  @include mq() {
    -ms-flex-align: center;
    align-items: center;
    border-top: 2px solid $main;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2rem;
    li {
      margin-top: 0.125rem;
    }
  }
}

.logoArea {
  padding: 2rem 0;
  @include mq() {
    float: left;
    padding: 0;
  }
}

.productLogo {
  line-height: 1.875rem;
  margin: 0 auto 1rem auto;
  text-align: center;
  & a > div {
    display: inline-block;
  }
  @include mq() {
    text-align: left;
  }
}

.sitemap {
  padding: 0;
}

.footerLinks {
  margin: 0;

  @include mq() {
    display: flex;
    border-top: none;
    justify-content: flex-end;
  }
}

// accordion

.p-accordion {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  h4 {
    color: $main-dark;
    font-weight: 600;
    padding: 0 0.5rem;
    line-height: 3rem;
    width: 100%;
  }
  input[type="checkbox"] {
    display: none;
  }
  label {
    background: #fff;
    color: $main;
    display: block;
    line-height: 3rem;
    position: relative;
    padding: 0;
    cursor: pointer;
    margin: 0 0 1px 0;
    &::after {
      line-height: 3rem;
      position: absolute;
      top: 0;
      right: -0.5rem;
      bottom: 0;
      display: block;
      width: 3rem;
      height: 3rem;
      transition: all 0.35s;
      text-align: center;
    }
  }
  input[type="checkbox"] + label::after {
    content: "+";
    font-size: $font-medium;
    font-weight: 700;
  }
  input[type="checkbox"]:checked + label::after {
    font-size: $font-medium;
    font-weight: 700;
    transform: rotate(315deg);
  }
  input[type="checkbox"]:checked ~ .p-accordion__items li {
    height: 3rem;
    line-height: 3rem;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    a {
      color: $main;
      font-size: $font-small;
      text-decoration: none;
      &:visited {
        color: $main;
      }
      &:hover {
        color: $secondary;
      }
      li {
        overflow-y: hidden;
        height: 0;
        padding-left: 1rem;
        transition: all 0.35s;
      }
    }
  }

  @include mq() {
    box-sizing: border-box;
    display: inline-block;
    width: 320px;
    h4 {
      font-size: $font-medium;
    }
    label {
      display: none;
    }
    .p-accordion__items {
      li {
        height: 3rem;
        line-height: 3rem;
      }
    }
  }
}

.accordion {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  details {
    width: 100%;
  }
  summary {
    color: $main-dark;
    font-weight: 600;
    padding: 0 0.5rem;
    line-height: 3rem;
    width: 100%;
    // add
    position: relative;
    overflow: hidden;
    &::marker {
      display: none;
    }
    &::after {
      content: "+";
      font-size: $font-medium;
      font-weight: 700;
      line-height: 3rem;
      position: absolute;
      top: 0;
      right: -0.5rem;
      bottom: 0;
      display: block;
      width: 3rem;
      height: 3rem;
      transition: all 0.35s;
      text-align: center;
    }
  }
  // add
  details[open] summary::after {
    font-size: $font-medium;
    font-weight: 700;
    transform: rotate(315deg);
  }

  &Items {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    li {
      overflow-y: hidden;
      height: 0;
      padding-left: 1rem;
      // transition: all 0.35s;

      a {
        color: $main;
        // font-size: $font-small;
        text-decoration: none;
        &:visited {
          color: $main;
        }
        &:hover {
          color: $secondary;
        }
      }
    }
  }
  details[open] .test {
    animation: fadeIn 0.5s ease;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  details[open] &Items {
    animation: fadeIn 0.5s ease;

    li {
      height: 3rem;
      line-height: 3rem;
    }
  }

  @include mq() {
    box-sizing: border-box;
    display: inline-block;
    width: 320px;
    // add
    summary {
      font-size: $font-medium;
      // add
      pointer-events: none;
      &::after {
        display: none;
      }
    }
    .accordionItems {
      li {
        height: 3rem;
        line-height: 3rem;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
