@import "../../variables.scss";
@import "../../animation.scss";

.footer {
  padding-bottom: 0;
  padding-top: 0;

  a:hover,
  .footer a:hover * {
    color: $secondary;
  }

  ul {
    list-style: none;
  }
}

.main {
  color: $main;
  text-align: left;
  //add
  padding: 2rem 0;

  [dir="rtl"] {
    text-align: right;
  }
  @include mq() {
    //add
    padding: 3rem 0;
  }
}

.mainInner {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0;
  @include mq("sm") {
    padding: 0 32px;
  }
}

.test {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  flex: 1 1 0;
  @include mq() {
    flex-direction: row;
  }
}

.logoArea {
  padding: 2rem 0;
}

.productLogo {
  line-height: 1.875rem;
  margin: 0 auto 1rem auto;
  text-align: center;
  & a > div {
    display: inline-block;
  }
  @include mq() {
    text-align: left;
  }
}

.sitemap {
  padding: 0;
}

.footerLinks {
  margin: 0;

  @include mq() {
    display: flex;
    border-top: none;
  }
}

// accordion
.accordion {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  details {
    width: 100%;
  }
  summary {
    color: $main-dark;
    font-weight: 600;
    padding: 0 0.5rem;
    line-height: 3rem;
    width: 100%;
    // add
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &::marker {
      display: none;
    }
    &::after {
      content: "+";
      font-size: $font-medium;
      font-weight: 700;
      line-height: 3rem;
      position: absolute;
      top: 0;
      right: -0.5rem;
      bottom: 0;
      display: block;
      width: 3rem;
      height: 3rem;
      transition: all 0.35s;
      text-align: center;
    }
  }
  // add
  details[open] summary::after {
    font-size: $font-medium;
    font-weight: 700;
    transform: rotate(315deg);
  }
  summary::-webkit-details-marker {
    display: none;
  }

  &Items {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    li {
      overflow-y: hidden;
      height: 0;
      padding-left: 1rem;
      cursor: pointer;

      a {
        color: $main;
        text-decoration: none;
        &:visited {
          color: $main;
        }
        &:hover {
          color: $secondary;
        }
      }
    }
  }

  details[open] &Items {
    li {
      height: 3rem;
      line-height: 3rem;
      @extend .fadeInDown, .fast;
    }
  }

  @include mq() {
    box-sizing: border-box;
    display: inline-block;
    // ch
    width: 240px;
    // add
    summary {
      font-size: $font-medium;
      // add
      pointer-events: none;
      &::after {
        display: none;
      }
    }
  }
}
