.c-grid {
  display: flex;
  display: -ms-flexbox;

  &__column {
    @extend .c-grid;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  &__row {
    @extend .c-grid;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
