.c-modal {
  &-popup {
    input {
      display: none;
      &:nth-child(1) + label {
        cursor: pointer;
      }
      &:nth-child(1) + label ~ label {
        display: none; /* ラジオ１以外のラベルを初期は非表示 */
      }
    }
    input:nth-child(1):checked
      + label
      + input:nth-child(3)
      + label
      + input:nth-child(5)
      + label
      + .c-modal-popup__body {
      /* ラジオ１ チェックでポップアップ表示 */
      display: block;
      background: #fff;
      height: 70%;
      padding: 1rem;
      position: fixed;
      top: 50%;
      left: 50%;
      overflow: hidden;
      transform: translate(-50%, -50%);
      width: 90%;
      z-index: 998;
      @include mq() {
        width: 600px;
      }

      div.c-modal-popup__main {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        display: inline-block;
        width: 100%;
        height: calc(100% - 128px);

        iframe {
          width: 100%;
          height: calc(100% - 128px);
          border: none;
          display: block;
        }

        img {
          max-width: 100%;
        }
      }
    }
    input:nth-child(1):checked + label + input:nth-child(3) + label {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 997;
      text-indent: -999999px;
      overflow: hidden;
    }
    input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label {
      background: rgba(255, 255, 255, 0.5);
      display: inline-block;
      position: fixed;
      left: 10px;
      bottom: 20px;
      z-index: 999;
      width: 44pt;
      height: 44pt;
      font-size: 40px;
      border-radius: 50%;
      line-height: 44pt;
      text-align: center;
      box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
    }
    input:nth-child(1) + label + input:nth-child(3):checked + label + input:nth-child(5) + label + .c-modal-popup__body,
    input:nth-child(1)
      + label
      + input:nth-child(3)
      + label
      + input:nth-child(5):checked
      + label
      + .c-modal-popup__body {
      /* ラジオ２と３ どっちかチェックでポップアップ非表示 */
      display: none;
    }

    &__body {
      display: none;
      animation: fadeIn 1s ease 0s 1 normal;
    }
    .c-modal-popup__title {
      padding-bottom: 0.5em;
      margin: 0.5em 0;
      border-bottom: 1px solid #ccc;
      font-weight: 600;
      font-size: 1.25rem;
    }
    .c-modal-popup__main {
      color: #222;
      text-align: left;
      font-size: 1rem;
      line-height: 1.8em;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
