@import "src/styles/variables";

.list {
  &__works {
    display: flex;
    display: -ms-flex;
    -webkit-box-pack: justify;
    list-style: none;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    li {
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.2);
      margin-bottom: 2rem;
      position: relative;
      height: fit-content;
      width: 100%;
      @include mq() {
        margin-bottom: 5rem;
        width: calc(50% - 2rem);
        &:nth-child(even) {
          margin-top: 5rem;
          margin-left: 4rem;
        }
      }

      // Fade in left
      &::before {
        background: $secondary;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform 0.35s;
      }
      img {
        transition: transform 0.35s;
      }
      &:hover {
        .p-list__works-detail {
          color: #fff;
        }
        &::before {
          transform-origin: left top;
          transform: scale(1, 1);
        }
        img {
          transform: scale(1.1);
        }
        .icon::before {
          color: #fff;
          right: 1rem;
        }
      }
    }

    &__detail {
      color: $main-dark;
      padding: 0.5rem 1rem;
      text-align: left;
      transition: all 0.35s;
      .title {
        font-size: $font-larger;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
      .category {
        font-size: $font-small;
      }
      @include mq() {
        padding: 1rem 2rem;
        .icon::before {
          color: $main-dark;
          content: "\f101";
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
          position: absolute;
          right: 2rem;
          bottom: 1rem;
          transition: all 0.35s;
        }
        .icon {
          position: absolute;
          right: 2rem;
          bottom: 1rem;
          transition: all 0.35s;
        }
      }
    }
  }
}

.media {
  &__thumb {
    position: relative;
    width: 100%;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }
    img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }
}

.text {
  &__lineNone {
    color: inherit;
    text-decoration: none;
    filter: alpha(opacity=100);
    opacity: 1;
    transition: all 0.5s;
    &:hover {
      color: $main;
      text-decoration: none;
    }
    &:visited {
      color: $main;
    }
  }
}
