@import "../../variables.scss";

.section {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #fff;
  @include mq(md) {
    height: 592px;
    width: 432px;
  }
}

.box {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 1rem;
  width: 100%;

  /* Vertical and horizontal center alignment */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
