@import "../../variables.scss";

.grid {
  display: -ms-flexbox;
  display: flex;

  &Samples {
    img {
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      box-shadow: 2px 6px 5px rgba(255, 255, 255, 0.4);
      margin-bottom: 2rem;
      width: 100%;
      @include mq("md") {
        max-width: 768px;
      }
    }
    div {
      @extend .grid;
      -webkit-flex-direction: column;
      flex-direction: column;
      padding: 1rem 0;
      margin: 0 auto;
      height: auto;
      max-width: 600px;

      h3 {
        display: block;
        font-weight: 600;
        line-height: 2;
        text-align: left;
      }
      p,
      ul > li,
      ol > li {
        font-size: $font-small;
        line-height: 2;
        text-align: left;
      }
      ul {
        margin-left: 1rem;
        margin-bottom: 0.25rem;
        list-style: circle;
      }
      ol {
        margin-left: 1rem;
        margin-bottom: 0.25rem;
        list-style: decimal;
      }
      i {
        margin-left: 0.5rem;
      }
    }
  }
}
