@import "../../variables.scss";

.section {
  padding: 2rem 0;
  @include mq() {
    padding: 3rem 0;
  }
  &Line {
    border-bottom: 3px solid $secondary;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 4rem;
  }
}
