@import "../../variables.scss";
@import "../utils/text.scss";

.gridListItem {
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  h3 {
    color: $dark;
    font-size: $font-large;
    margin-bottom: 0.5rem;
  }
  small {
    color: $dark;
    font-size: $font-small;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  img {
    margin-bottom: 1rem;
  }
  p {
    text-align: left;
  }
  @include mq() {
    // width: 33.3333%;
  }
}

.media {
  &Thumb {
    position: relative;
    width: 100%;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }
    img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }
}
