@import "../../variables.scss";
@import "../../animation.scss";

.grid {
  display: -ms-flexbox;
  display: flex;
}
.gridList {
  @extend .grid;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.gridListItem {
  @extend .grid;
  box-sizing: border-box;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  h3 {
    color: $dark;
    font-size: $font-large;
    margin-bottom: 0.5rem;
  }
  small {
    color: $dark;
    font-size: $font-small;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  img {
    margin-bottom: 1rem;
  }
  p {
    text-align: left;
  }
  @include mq() {
    // width: 33.3333%;
  }
  &Floated {
    @extend .gridListItem;
    background: #fff;
    border: 1px solid rgba(46, 37, 37, 0.2);
    border-radius: 4px;
    box-shadow: 2px 6px 5px rgba(255, 255, 255, 0.4);
    margin: 1rem 0.5rem;

    @include mq() {
      width: calc(33.3333% - 1rem);
    }
    &Left {
      @extend .gridListItemFloated;
      transform: translate3d(-100%, 0, 0);
    }
    &Right {
      @extend .gridListItemFloated;
      transform: translate3d(100%, 0, 0);
    }
  }
}

.media {
  &Thumb {
    position: relative;
    width: 100%;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }
    img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }
}

.slideInLeft {
  @extend .slideInLeft, .slow;
}

.slideInRight {
  @extend .slideInRight, .slow;
}
