.grid {
  display: -ms-flexbox;
  display: flex;
}
.gridList {
  @extend .grid;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  // add
  overflow: hidden;
}
