@import "../../variables.scss";
@import "../../animation.scss";

.gridVision {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  text-align: center;
  div {
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
  }
  h2 {
    font-size: $font-medium;
    font-weight: 600;
    line-height: 1.7;
    margin-bottom: 1rem;
    opacity: 0;
  }
  p {
    margin-bottom: 1rem;
    opacity: 0;
  }
  @include mq() {
    h2 {
      font-size: $font-large;
    }
  }
}
.sub {
  margin-bottom: 1rem;
  opacity: 0;
  font-size: $font-small;
  font-weight: 600;
  margin-bottom: 2rem;
}

.fadeInUp {
  @extend .fadeInUp, .slow;
}
