.c-bg {
  &-primary {
    background: $primary;
    display: block;
    > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }
  }
  &-secondary {
    background: $secondary;
    display: block;
  }
  &-light {
    background: $light;
    display: block;
  }
}
