.xxs {
  height: 8px;
}

@media (min-width: 600px) {
  .xxs {
    height: 12px;
  }
}

.xxs {
  height: 12px;
}

@media (min-width: 600px) {
  .xxs {
    height: 16px;
  }
}

.xs {
  height: 12px;
}

@media (min-width: 600px) {
  .xs {
    height: 20px;
  }
}

.sm {
  height: 20px;
}

@media (min-width: 600px) {
  .sm {
    height: 32px;
  }
}

.md {
  height: 32px;
}

@media (min-width: 1024px) {
  .md {
    height: 48px;
  }
}

.lg {
  height: 48px;
}

@media (min-width: 1024px) {
  .lg {
    height: 60px;
  }
}

.xl {
  height: 48px;
}

@media (min-width: 600px) {
  .xl {
    height: 60px;
  }
}

@media (min-width: 1024px) {
  .xl {
    height: 80px;
  }
}

.color-white {
  background-color: #fff;
}

.color-grey {
  background-color: #f5f5f5;
}
