@import "../../variables.scss";

.text {
  &LineNone {
    color: inherit;
    text-decoration: none;
    filter: alpha(opacity=100);
    opacity: 1;
    transition: all 0.5s;
    &:hover {
      color: $main;
      text-decoration: none;
    }
    &:visited {
      color: $main;
    }
  }
}
