@import "../../variables.scss";

.btn {
  background: $secondary;
  border: 1px solid #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  color: #fff;
  display: block;
  height: 3rem;
  margin: 0 auto;
  line-height: 3rem;
  text-align: center;
  transition: all 0.5s;
  &Cancel {
    @extend .btn;
    background: $main-light;
    border: none;
    padding: 0 1rem;
    margin: 0 0.25rem;
  }
  &Apply {
    @extend .btn;
    border: none;
    padding: 0 1rem;
    margin: 0 0.25rem;
  }
}
