@import "../../variables.scss";

.header {
  transition: top 0.4s ease;
  background-color: #fff;
  box-sizing: content-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.headerInner {
  padding-right: 32px;
  margin: 0 auto;
}

.navToggleButton {
  background: 0 0;
  border: 0;
  color: transparent;
  cursor: pointer;
  height: 56px;
  right: 0;
  line-height: 3.75rem;
  outline: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 3.75rem;
  img,
  svg {
    color: #757575;
    height: 1.5rem;
    margin: 0 auto;
    width: 1.5rem;
  }
  @include mq() {
    display: none;
  }
}
.navToggleButtonOpen {
  @extend .navToggleButton;
  left: auto;
  right: 0.3125rem;
  z-index: 1200;
}

.productLogo {
  padding: 0 1rem;
  background: $primary-light;
  display: none;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  @include mq() {
    background: transparent;
    display: block;
    float: left;
  }
}
