@import "../../variables.scss";

.chatBot {
  svg {
    height: 2rem;
    width: 2rem;
    fill: #00c300;
  }
  @include mq() {
    span {
      display: none;
    }
  }
}

.navToggleButton {
  background: 0 0;
  border: 0;
  color: transparent;
  cursor: pointer;
  height: 56px;
  right: 0;
  line-height: 3.75rem;
  outline: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 3.75rem;
  img,
  svg {
    color: #757575;
    height: 1.5rem;
    margin: 0 auto;
    width: 1.5rem;
  }
  @include mq() {
    display: none;
  }
}
.navToggleButtonOpen {
  @extend .navToggleButton;
  left: auto;
  right: 0.3125rem;
  z-index: 1200;
}
