@import "../../variables.scss";

.buttonItem {
  background-color: transparent;
  border: none;
  color: $main;
  font-weight: 300;
  letter-spacing: 0.01562rem;
  line-height: 1.375rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  outline: 0;
  padding: 13px 24px;
  width: 100%;
  &:hover {
    color: #777;
    opacity: 0.6;
  }

  img {
    height: 2rem;
    width: 2rem;
  }
  @include mq() {
    display: inline-block;
    outline: none;
    padding: 21px 0 19px;
    span {
      display: none;
    }
  }
}

.navToggleButton {
  background: 0 0;
  border: 0;
  color: transparent;
  cursor: pointer;
  height: 56px;
  right: 0;
  line-height: 3.75rem;
  outline: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 3.75rem;
  img,
  svg {
    color: #757575;
    height: 1.5rem;
    margin: 0 auto;
    width: 1.5rem;
  }
  @include mq() {
    display: none;
  }
}
.navToggleButtonOpen {
  @extend .navToggleButton;
  left: auto;
  right: 0.3125rem;
  z-index: 1200;
}
