.backdrop {
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
  cursor: default;
  position: fixed;
  right: 0;
  width: 100%;
}

.backdrop_70 {
  @extend .backdrop;
  background: rgba(0, 0, 0, 0.7);
}
