@import "../../variables.scss";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modalPopupBody {
  display: block;
  background: #fff;
  height: 70%;
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  width: 90%;
  // z-index: 998;
  // add
  z-index: 1100;
  animation: fadeIn 1s ease 0s 1 normal;
  @include mq() {
    width: 600px;
  }
}
.modalPopupTitle {
  padding-bottom: 0.5em;
  margin: 0.5em 0;
  border-bottom: 1px solid #ccc;
  font-weight: 600;
  font-size: 1.25rem;
}

.modalPopupMain {
  color: #222;
  text-align: left;
  font-size: 1rem;
  line-height: 1.8em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: inline-block;
  width: 100%;
  height: calc(100% - 128px);

  iframe {
    width: 100%;
    height: calc(100% - 128px);
    border: none;
    display: block;
  }

  img {
    max-width: 100%;
  }
}

.closeButton {
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  position: fixed;
  left: 10px;
  bottom: 20px;
  z-index: 999;
  width: 44pt;
  height: 44pt;
  font-size: 40px;
  border-radius: 50%;
  border: none;
  line-height: 44pt;
  text-align: center;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
  //add
  z-index: 1100;
}
