.closeButton {
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  position: fixed;
  left: 10px;
  bottom: 20px;
  z-index: 999;
  width: 44pt;
  height: 44pt;
  font-size: 40px;
  border-radius: 50%;
  border: none;
  line-height: 44pt;
  text-align: center;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
  //add
  z-index: 1100;
}
