.c-bg-primary {
  background: #41b6e6;
  display: block;
}
.c-bg-primary > h1, .c-bg-primary h2, .c-bg-primary h3, .c-bg-primary h4, .c-bg-primary h5, .c-bg-primary h6 {
  color: #fff;
}
.c-bg-secondary {
  background: #ffb549;
  display: block;
}
.c-bg-light {
  background: #f0f0f0;
  display: block;
}
