.c-grid, .c-grid__column, .c-grid__row {
  display: flex;
  display: -ms-flexbox;
}
.c-grid__column {
  -ms-flex-direction: column;
  flex-direction: column;
}
.c-grid__row {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
