.module-spacer--extra-extra-extra-small {
  height: 8px;
}
@media (min-width: 600px) {
  .module-spacer--extra-extra-extra-small {
    height: 12px;
  }
}
.module-spacer--extra-extra-small {
  height: 12px;
}
@media (min-width: 600px) {
  .module-spacer--extra-extra-small {
    height: 16px;
  }
}
.module-spacer--extra-small {
  height: 12px;
}
@media (min-width: 600px) {
  .module-spacer--extra-small {
    height: 20px;
  }
}
.module-spacer--small {
  height: 20px;
}
@media (min-width: 600px) {
  .module-spacer--small {
    height: 32px;
  }
}
.module-spacer--medium {
  height: 32px;
}
@media (min-width: 1024px) {
  .module-spacer--medium {
    height: 48px;
  }
}
.module-spacer--large {
  height: 48px;
}
@media (min-width: 1024px) {
  .module-spacer--large {
    height: 60px;
  }
}
.module-spacer--extra-large {
  height: 48px;
}
@media (min-width: 600px) {
  .module-spacer--extra-large {
    height: 60px;
  }
}
@media (min-width: 1024px) {
  .module-spacer--extra-large {
    height: 80px;
  }
}
.module-spacer--color-white {
  background-color: #fff;
}
.module-spacer--color-grey {
  background-color: #f5f5f5;
}
