.c-section {
  padding: 2rem 0;
}
@media screen and (min-width: 1024px) {
  .c-section {
    padding: 3rem 0;
  }
}
.c-section-wrapin, .c-section-wrapin-wide {
  margin: 0 auto;
  max-width: 544px;
  position: relative;
  padding: 0 2rem;
  text-align: center;
  width: auto;
}
@media screen and (min-width: 576px) {
  .c-section-wrapin, .c-section-wrapin-wide {
    max-width: 1024px;
  }
}
@media screen and (min-width: 576px) {
  .c-section-wrapin-wide {
    max-width: 1440px;
  }
}
.c-section__line {
  border-bottom: 3px solid #ffb549;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 4rem;
}
.c-section__area-title {
  background: #41b6e6;
  position: relative;
  height: auto;
  padding: 3rem 1.5rem 2rem 1.5rem;
}
@media screen and (min-width: 1024px) {
  .c-section__area-title {
    background: transparent;
    height: 325px;
    padding: 6rem 0 3rem 10%;
  }
  .c-section__area-title::before {
    background: #41b6e6;
    content: "";
    position: absolute;
    height: 325px;
    top: 0;
    bottom: 0;
    left: calc(70% - 60px);
    transform: skewX(20deg);
    width: 119px;
  }
  .c-section__area-title::after {
    background: #41b6e6;
    content: "";
    position: absolute;
    height: 325px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70%;
    z-index: -10;
  }
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
