<header class="l-header fixed-nav">
  <div class="l-header-inner">
    <h1 class="l-product-logo">
      <a href="/" target="_self" aria-label="パンダシャーク">
        <img alt="パンダシャーク" src="/img/icons/logo.png" />
      </a>
    </h1>
    <!-- Navigation toggle button for Smartphone-->
    <button class="nav-toggle-button outside" data-about-nav-toggle aria-label="ナビゲーション メニューの切り替え" id="nav-toggle-button">
      <img alt="ナビゲーション メニューを開く" class="menu-bars" src="/img/icons/menu.png" height="24" width="24">
      <img alt="ナビゲーション メニューを閉じる" class="menu-close" src="/img/icons/close.png" height="24" width="24">
    </button>
    <nav class="l-header__nav-top">
      <h1 class="l-product-logo">
        <a href="/" target="_self">
          <img alt="パンダシャーク" src="/img/icons/logo.png" />
        </a>
      </h1>
      <ul>
        <li><a href="/about/" target="_self">About</a></li>
        <li><a href="/samples/" target="_self">Samples</a></li>
        <li><a href="#" target="_blank">Blog</a></li>
        <li><a href="/contact/" target="_self">Contact</a></li>
        <li>
          <a class="sns" href="#" target="_self">
            <img src="/img/icons/twitter_logo.png">
            <span>Twitter</span>
          </a>
        </li>
        <!-- <li>
          <a class="sns" href="#" target="_self">
            <img src="/img/icons/youtube_logo.png">
            <span>YouTubeチャンネル</span>
          </a>
        </li> -->
      </ul>
    </nav>
    <div class="black-bg" id="js-black-bg"></div>
  </div>
</header>