@import "../../variables.scss";

.section {
  padding: 2rem 0;
  @include mq() {
    padding: 3rem 0;
  }
  &TitleArea {
    background: $primary;
    position: relative;
    height: auto;
    padding: 3rem 1.5rem 2rem 1.5rem;
    @include mq() {
      background: transparent;
      height: 325px;
      padding: 6rem 0 3rem 10%;
      &::before {
        background: $primary;
        content: "";
        position: absolute;
        height: 325px;
        top: 0;
        bottom: 0;
        left: calc(70% - 60px);
        transform: skewX(20deg);
        width: 119px;
      }
      &::after {
        background: $primary;
        content: "";
        position: absolute;
        height: 325px;
        top: 0;
        bottom: 0;
        left: 0;
        width: 70%;
        z-index: -10;
      }
    }
  }
}

.headlineSub {
  color: #fff;
  text-align: left;
  h2 {
    font-size: $font-xxlarge;
    font-family: "Courgette";
    margin-bottom: 1rem;
  }
  p {
    font-size: $font-medium;
    font-weight: 500;
  }
}
