@import "../../variables.scss";

.headline {
  &About {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: $font-large;
    margin-bottom: 2rem;
    text-align: left;
  }
}

.grid {
  display: -ms-flexbox;
  display: flex;

  &About {
    @extend .grid;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: left;
    h3 {
      display: block;
      font-size: $font-larger;
      font-weight: 600;
      line-height: 2;
      margin-bottom: 1rem;
    }
    p {
      line-height: 2.5;
      margin-bottom: 1.5rem;
      letter-spacing: 0.1rem;
    }

    // div {
    //   margin-bottom: 1rem;
    //   width: 100%;
    // }
    @include mq() {
      -webkit-flex-direction: row;
      flex-direction: row;
      p {
        line-height: 3;
        margin-bottom: 2.5rem;
      }
    }
  }
}

.sub {
  font-size: $font-small;
  text-align: right;
}

.left {
  @include mq() {
    margin-left: 0;
    margin-right: auto;
    width: 56.25%;
  }
}
