<%- include ('components/_head') %>
<%- include ('components/_header') %>


<%# content %>
<main>
  <section>
    <div class="module-spacer--medium"></div>
  </section>

  <section class="c-section">
    <div class="c-section__area-title animated fadeInLeft">
      <div class="p-headline__sub animated fadeInUp fast delay-1s">
        <h2>Chat App</h2>
        <p></p>
        <ul class="u-text__breadcrumbs">
          <li><a href="/" target="_self">HOME</a><span>＞</span></li>
          <li><a href="/works/" target="_self">WORKS</a><span>＞</span></li>
          <li><a href="/works/chat/" target="_self">CHAT BOT</a><span></span></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="c-section">
    <div class="c-section-wrapin p-grid__works">
      <img src="/img/works/chat.jpeg">
      <div class="p-grid__works__row">
        <h3>概要</h3>
        <p>ユーザーに質問を投げて自動で応答するチャットボット</p>
      </div>
      <div class="p-grid__works__row">
        <h3>用途・目的</h3>
        <p>カジュアルにWebサイトへのお問い合わせをしてもらうため</p>
      </div>
      <div class="p-grid__works__row">
        <h3>こだわり</h3>
        <ul>
          <li>SPAらしい画面描画の切り替わり</li>
          <li>問い合わせ結果をSlackへ通知</li>
          <li>チャット風のデザインとアニメーション</li>
        </ul>
      </div>
      <div class="p-grid__works__row">
        <h3>使用言語</h3>
        <p>JavaScript(React), JSX</p>
      </div>
      <div class="p-grid__works__row">
        <h3>技術</h3>
        <p>
          Sass, React, Material-ui, Firebase Hosting, Firestore, Cloud Functions
        </p>
      </div>
      <div class="p-grid__works__row">
        <h3>リンク</h3>
        <p>
          <a href="https://chatbot-demo-1bc98.web.app/" target="_blank">
            チャットボット<i class="fas fa-external-link-alt"></i>
          </a>
        </p>
      </div>
    </div>
  </section>

</main>
<%# /content %>

<%- include ('components/_footer') %>