<%- include ('components/_head') %>
<%- include ('components/_header') %>


<%# content %>
<main>
  <section>
    <div class="module-spacer--medium"></div>
  </section>

  <section class="c-section">
    <div class="c-section__area-title animated fadeInLeft">
      <div class="p-headline__sub animated fadeInUp fast delay-1s">
        <h2>Contact</h2>
        <p>お問い合わせ</p>
        <ul class="u-text__breadcrumbs">
          <li><a href="/" target="_self">HOME</a><span>＞</span></li>
          <li><a href="/contact/" target="_self">CONTACT</a><span></span></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="c-section">
    <div class="c-section-wrapin">
      <form class="p-forms" name="contactForm">
        <div class="p-forms__input">
          <p>
            <label>お名前 *</label>
            <input type="text" name="name" placeholder="虎 太郎" required="">
          </p>
        </div>
        <div class="p-forms__input">
          <p>
            <label>メールアドレス *</label>
            <input type="email" name="email" placeholder="your@example.com" required="">
          </p>
        </div>
        <div class="p-forms__input">
          <p>
            <label>お問い合わせ種別</label>
            <select name="category">
              <option value=""></option>
              <option value="Webサイト制作について">Webサイト制作について</option>
              <option value="Webアプリ開発について">Webアプリ開発について</option>
              <option value="自動化ツール開発について">自動化ツール開発について</option>
              <option value="Webサイト模写について">Webサイト模写について</option>
              <option value="その他">その他</option>
            </select>
          </p>
        </div>
        <div class="p-forms__input">
          <p>
            <label>お問い合わせ内容 *</label>
            <textarea name="description" rows="10" required=""></textarea>
          </p>
        </div>
        <button class="p-btn-round center" id="confirm-btn" type="button" onclick="return contactModule.confirmApplication()">内容を確認する</button>
      </form>
    </div>
  </section>
  <div class="c-modal-popup" id="popup">
    <input type="radio" name="modalPop" id="modal-switch">
    <label class="u-display-none" for="modal-switch"></label>
    <input type="radio" name="modalPop" id="close">
    <label for="close">CLOSE</label>
    <input type="radio" name="modalPop" id="pop13">
    <label for="pop13">×</label>
    <div class="c-modal-popup__body">
      <h2 class="c-modal-popup__title mb-4" id="modal-title">入力内容の確認</h2>
      <div class="c-modal-popup__main" id="popup-main">
      </div>
      <div class="p-grid__row center">
        <button class="p-btn-cancel mr-2" id="cancel-btn" type="button" onclick="return contactModule.cancel()">修正する</button>
        <button class="p-btn-apply" id="apply-btn" type="button" onclick="return contactModule.application()">送信する</button>
      </div>
    </div>
  </div>
</main>
<%# /content %>

<%- include ('components/_footer') %>