<%- include ('components/_head') %>
<%- include ('components/_header') %>


<%# content %>
<main>
  <section>
    <div class="module-spacer--medium"></div>
  </section>

  <section class="c-section">
    <div class="c-section__area-title animated fadeInLeft">
      <div class="p-headline__sub animated fadeInUp fast delay-1s">
        <h2>Portfolio</h2>
        <p></p>
        <ul class="u-text__breadcrumbs">
          <li><a href="/" target="_self">HOME</a><span>＞</span></li>
          <li><a href="/samples/" target="_self">SAMPLES</a><span>＞</span></li>
          <li><a href="/samples/portfolio/" target="_self">PORTFOLIO</a><span></span></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="c-section">
    <div class="c-section-wrapin p-grid__works">
      <img src="/img/samples/portfolio-eyecatch.png">
      <div class="p-grid__works__row">
        <h3>概要</h3>
        <p>ポートフォリオサイトです。</p>
      </div>
      <div class="p-grid__works__row">
        <h3>用途・目的</h3>
        <ul>
          <li>開発案件の獲得のため</li>
          <li>エンジニア教育事業の教材とするため</li>
        </ul>
      </div>
      <div class="p-grid__works__row">
        <h3>こだわり</h3>
        <ul>
          <li>教材用に作ったので、Webサイト制作に必要不可欠な要素は抑えた</li>
          <li>CSSはなるべくシンプルに</li>
          <li>JavaScriptの使用も最小限に</li>
          <li>見ていて飽きさせないためのCSSアニメーション</li>
          <li>SEOを意識したHTML構造</li>
        </ul>
      </div>
      <div class="p-grid__works__row">
        <h3>使用言語</h3>
        <p>HTML5, CSS3, JavaScript(ES6)</p>
      </div>
      <div class="p-grid__works__row">
        <h3>技術</h3>
        <p>Firebase Hosting, Cloud Functions, Express, EJS, Sass</p>
      </div>
      <div class="p-grid__works__row">
        <h3>リンク</h3>
        <p>このサイトなので省略</p>
      </div>
    </div>
  </section>

</main>
<%# /content %>

<%- include ('components/_footer') %>