<% const path = '../'; %>

<%- include (path + 'components/_head') %>
<%- include (path + 'components/_header') %>



<%# content %>
<main>
  <section>
    <div class="module-spacer--medium"></div>
  </section>

  <section class="c-section">
    <div class="c-section__area-title animated fadeInLeft">
      <div class="p-headline__sub animated fadeInUp fast delay-1s">
        <h2>Works</h2>
        <p>制作事例</p>
        <ul class="u-text__breadcrumbs">
          <li><a href="/" target="_self">HOME</a><span>＞</span></li>
          <li><a href="/works/" target="_self">WORKS</a><span></span></li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="module-spacer--medium"></div>
  </section>

  <section class="c-section">
    <div class="c-section-wrapin-wide">
      <ul class="p-list__works">
        <li>
          <a class="u-text__line-none" href="/works/asw/">
            <p class="p-media__thumb">
              <img src="/img/works/asw-eyecatch.png" alt="Thumbnail of Auto suggest words">
            </p>
            <div class="p-list__works-detail">
              <h3 class="title">Auto Suggest Words</h3>
              <p class="category">Webサービス｜システム開発｜自動化｜スクレイピング</p>
              <span class="icon"></span>
            </div>
          </a>
        </li>
        <li>
          <a class="u-text__line-none" href="/works/portfolio/">
            <p class="p-media__thumb">
              <img src="/img/works/portfolio-eyecatch.png" alt="Thumbnail of Torahack's portfolio">
            </p>
            <div class="p-list__works-detail">
              <h3 class="title">トラハックのポートフォリオ</h3>
              <p class="category">Web制作｜デザイン｜レスポンシブ｜アニメーション</p>
              <span class="icon"></span>
            </div>
          </a>
        </li>
        <li>
          <a class="u-text__line-none" href="/works/jishuku/">
            <p class="p-media__thumb">
              <img src="/img/works/jishuku.jpeg" alt="Thumbnail of Jishuku No Susume">
            </p>
            <div class="p-list__works-detail">
              <h3 class="title">ジシュクのススメ</h3>
              <p class="category">Webアプリ開発｜SNS｜SPA</p>
              <span class="icon"></span>
            </div>
          </a>
        </li>
        <li>
          <a class="u-text__line-none" href="/works/chat/">
            <p class="p-media__thumb">
              <img src="/img/works/chat.jpeg" alt="Thumbnail of Chat Bot">
            </p>
            <div class="p-list__works-detail">
              <h3 class="title">チャットボット</h3>
              <p class="category">Webアプリ開発｜チャット｜SPA</p>
              <span class="icon"></span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>
<%# /content %>

<%- include (path + 'components/_footer') %>