.u-text {
  &__line-none {
    color: inherit;
    text-decoration: none;
    filter: alpha(opacity=100);
    opacity: 1;
    transition: all 0.5s;
    &:hover {
      color: $main;
      text-decoration: none;
    }
    &:visited {
      color: $main;
    }
  }

  &__breadcrumbs {
    color: $main-light;
    list-style: none;
    margin-top: 2rem;
    @include mq() {
      margin-top: 3rem;
    }
    li {
      display: inline;
      font-size: $font-small;
      span {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }
      a {
        text-decoration: none;
        transition: all 0.5s;
        &:hover {
          color: $main-dark;
          text-decoration: none;
        }
        &:visited {
          color: $main-light;
        }
      }
    }
  }

  &-bolder {
    font-weight: 600;
  }

  &-small {
    font-size: 0.9rem;
  }

  &-medium {
    font-size: 1rem;
    @include mq() {
      font-size: $font-medium;
    }
  }

  &-larger {
    font-size: $font-medium;
    @include mq() {
      font-size: $font-larger;
    }
  }

  &-large {
    font-size: $font-larger;
    @include mq() {
      font-size: $font-large;
    }
  }

  &-xlarge {
    font-size: $font-large;
    @include mq() {
      font-size: $font-xlarge;
    }
  }

  &-white {
    color: #fff;
  }

  &-required {
    background: $secondary;
    color: #fff;
  }

  &-emphasized {
    font-size: $font-xxlarge;
  }

  &__align-left {
    text-align: left;
  }
  &__ellipsis-two {
    display: -webkit-box;
    line-height: 1rem;
    height: calc(1rem * 1 * 2);
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &__ellipsis-three {
    display: -webkit-box;
    line-height: 1rem;
    height: calc(1rem * 1 * 3);
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  &__ellipsis-five {
    display: -webkit-box;
    line-height: 1rem;
    height: calc(1rem * 1 * 5);
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}
