.p-accordion {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  h4 {
    color: $main-dark;
    font-weight: 600;
    padding: 0 0.5rem;
    line-height: 3rem;
    width: 100%;
  }
  input[type="checkbox"] {
    display: none;
  }
  label {
    background: #fff;
    color: $main;
    display: block;
    line-height: 3rem;
    position: relative;
    padding: 0;
    cursor: pointer;
    margin: 0 0 1px 0;
    &::after {
      line-height: 3rem;
      position: absolute;
      top: 0;
      right: -0.5rem;
      bottom: 0;
      display: block;
      width: 3rem;
      height: 3rem;
      transition: all 0.35s;
      text-align: center;
    }
  }
  input[type="checkbox"] + label::after {
    content: "+";
    font-size: $font-medium;
    font-weight: 700;
  }
  input[type="checkbox"]:checked + label::after {
    font-size: $font-medium;
    font-weight: 700;
    transform: rotate(315deg);
  }
  input[type="checkbox"]:checked ~ .p-accordion__items li {
    height: 3rem;
    line-height: 3rem;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    a {
      color: $main;
      font-size: $font-small;
      text-decoration: none;
      &:visited {
        color: $main;
      }
      &:hover {
        color: $secondary;
      }
      li {
        overflow-y: hidden;
        height: 0;
        padding-left: 1rem;
        transition: all 0.35s;
      }
    }
  }

  @include mq() {
    box-sizing: border-box;
    display: inline-block;
    width: 320px;
    h4 {
      font-size: $font-medium;
    }
    label {
      display: none;
    }
    .p-accordion__items {
      li {
        height: 3rem;
        line-height: 3rem;
      }
    }
  }
}
