.p-media {
  &__thumb {
    position: relative;
    width: 100%;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }
    img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }

  &__profile {
    text-align: center;

    img {
      background-position: center center;
      border-radius: 50%;
      margin-bottom: 0.5rem;
      object-fit: cover;
      height: 160px;
      width: 160px;
    }
    p {
      font-size: $font-small;
    }
    @include mq() {
      img {
        height: 192px;
        width: 192px;
      }
    }
  }
}
