.p-btn, .p-btn-round, .p-btn-round-on-dark, .p-btn-cancel, .p-btn-apply, .p-btn-square {
  background: #ffb549;
  border: 1px solid #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  color: #fff;
  display: block;
  height: 3rem;
  margin: 0 auto;
  line-height: 3rem;
  text-align: center;
  transition: all 0.5s;
}
.p-btn-round, .p-btn-round-on-dark {
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
  width: 16rem;
}
.p-btn-round:hover, .p-btn-round-on-dark:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  top: -2px;
}
.p-btn-round:hover:visited, .p-btn-round-on-dark:hover:visited {
  color: #fff;
}
.p-btn-round:active, .p-btn-round-on-dark:active {
  top: 2px;
}
.p-btn-round-on-dark:hover {
  background: #fff;
  color: #ffb549;
  border: 2px solid #ffb549;
  opacity: 1;
  transform-origin: left top;
  transform: scale(1, 1);
}
.p-btn-round-on-dark:hover:visited {
  color: #ffb549;
}
.p-btn-cancel {
  background: #777;
  border: none;
  padding: 0 1rem;
  margin: 0 0.25rem;
}
.p-btn-apply {
  border: none;
  padding: 0 1rem;
  margin: 0 0.25rem;
}
.p-btn-square {
  height: 4rem;
  line-height: 4rem;
  font-size: 1.563rem;
  font-weight: 300;
  position: relative;
}
.p-btn-square::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: #ffb549;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.p-btn-square:hover::before {
  opacity: 1;
  transform-origin: left top;
  transform: scale(1, 1);
}
.p-btn__scroll-top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #3f98ef;
  opacity: 0.6;
  border-radius: 50%;
}
.p-btn__scroll-top a {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
.p-btn__scroll-top a::before {
  font-family: "Google Sans", Arial, Helvetica, sans-serif;
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
