.p-grid, .p-grid__about, .p-grid__profile, .p-grid__list, .p-grid__list-item, .p-grid__list-item-floated, .p-grid__row, .p-grid__table li, .p-grid__works div {
  display: -ms-flexbox;
  display: flex;
}
.p-grid__about, .p-grid__profile {
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: left;
}
.p-grid__about h3, .p-grid__profile h3 {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 1rem;
}
.p-grid__about p, .p-grid__profile p {
  line-height: 2.5;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
}
.p-grid__about .sub, .p-grid__profile .sub {
  font-size: 0.9rem;
  text-align: right;
}
.p-grid__about div, .p-grid__profile div {
  margin-bottom: 1rem;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .p-grid__about, .p-grid__profile {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .p-grid__about p, .p-grid__profile p {
    line-height: 3;
    margin-bottom: 2.5rem;
  }
  .p-grid__about .left, .p-grid__profile .left {
    margin-left: 0;
    margin-right: auto;
    width: 56.25%;
  }
  .p-grid__about .right, .p-grid__profile .right {
    margin-left: auto;
    margin-right: 0;
    width: 43.75%;
  }
}
.p-grid__profile {
  color: #fff;
}
.p-grid__profile p {
  line-height: 1.7;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .p-grid__profile .left {
    width: 43.75%;
  }
  .p-grid__profile .right {
    width: 56.25%;
  }
}
.p-grid__contact h2 {
  font-size: 1.563rem;
}
.p-grid__contact p {
  color: #fff;
  font-size: 0.9rem;
  margin: 0 auto;
  text-align: left;
  max-width: 450px;
}
.p-grid__community {
  max-width: 600px;
  text-align: left;
}
.p-grid__community p {
  margin: 0 auto 1rem auto;
}
.p-grid__community ul {
  list-style: circle;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
.p-grid__community ul li {
  line-height: 1.7;
}
.p-grid__view-first {
  position: relative;
  height: 100vh;
  width: 100%;
}
.p-grid__view-first img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.p-grid__view-first div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 300px;
  text-align: center;
  margin: 0 auto;
}
.p-grid__view-first div h2 {
  color: #fff;
  font-family: 'Courgette';
  font-size: 3.052rem;
  margin-bottom: 1rem;
}
.p-grid__view-first div p {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.p-grid__view-first div a {
  margin-top: 3rem;
}
.p-grid__list {
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.p-grid__list-item, .p-grid__list-item-floated {
  box-sizing: border-box;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
.p-grid__list-item h3, .p-grid__list-item-floated h3 {
  color: #001871;
  font-size: 1.563rem;
  margin-bottom: 0.5rem;
}
.p-grid__list-item small, .p-grid__list-item-floated small {
  color: #001871;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.p-grid__list-item img, .p-grid__list-item-floated img {
  margin-bottom: 1rem;
}
.p-grid__list-item p, .p-grid__list-item-floated p {
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .p-grid__list-item, .p-grid__list-item-floated {
    width: 33.3333%;
  }
}
.p-grid__list-item-floated {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 2px 6px 5px rgba(255, 255, 255, 0.4);
  margin: 1rem 0.5rem;
}
@media screen and (min-width: 1024px) {
  .p-grid__list-item-floated {
    width: calc(33.3333% - 1rem);
  }
}
.p-grid__row {
  -webkit-flex-direction: row;
  flex-direction: row;
}
.p-grid__table li {
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1rem;
}
.p-grid__table li .head {
  background: #41b6e6;
  border: 2px solid #fff;
  box-sizing: border-box;
  color: #fff;
  font-weight: 600;
  padding: 1rem;
  width: 100%;
}
.p-grid__table li .data {
  background: #a2dbf3;
  border: 2px solid #fff;
  box-sizing: border-box;
  padding: 1rem;
  text-align: left;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .p-grid__table li {
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-bottom: 0;
  }
  .p-grid__table li .head {
    line-height: 3rem;
    width: 30%;
  }
  .p-grid__table li .data {
    width: 70%;
  }
}
.p-grid__vision {
  text-align: center;
}
.p-grid__vision div {
  margin: 0 auto;
  max-width: 350px;
  width: 100%;
}
.p-grid__vision h2 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.7;
  margin-bottom: 1rem;
}
.p-grid__vision p {
  margin-bottom: 1rem;
}
.p-grid__vision p.sub {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .p-grid__vision h2 {
    font-size: 1.563rem;
  }
}
.p-grid__works img {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 2px 6px 5px rgba(255, 255, 255, 0.4);
  margin-bottom: 2rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-grid__works img {
    max-width: 768px;
  }
}
.p-grid__works div {
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 1rem 0;
  margin: 0 auto;
  height: auto;
  max-width: 600px;
}
.p-grid__works div h3 {
  display: block;
  font-weight: 600;
  line-height: 2;
  text-align: left;
}
.p-grid__works div p, .p-grid__works div ul > li, .p-grid__works div ol > li {
  font-size: 0.9rem;
  line-height: 2;
  text-align: left;
}
.p-grid__works div ul {
  margin-left: 1rem;
  margin-bottom: 0.25rem;
  list-style: circle;
}
.p-grid__works div ol {
  margin-left: 1rem;
  margin-bottom: 0.25rem;
  list-style: decimal;
}
.p-grid__works div i {
  margin-left: 0.5rem;
}
