.p-media__thumb {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.p-media__thumb::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.p-media__thumb img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.p-media__profile {
  text-align: center;
}
.p-media__profile img {
  background-position: center center;
  border-radius: 50%;
  object-fit: cover;
  height: 156px;
  width: 156px;
}
