.swiper-button, .swiper-button-next, .swiper-button-prev {
	width: 48px !important;
	height: 48px !important;
	background-size: 48px 48px !important;
	margin-top: -24px !important;
}
.swiper-button-next {
	background-image: url("/img/icons/swiper-arrow.png") !important;
}
.swiper-button-prev {
	background-image: url("/img/icons/swiper-arrow.png") !important;
	transform: scale(-1, 1);
}
