@import "../variables.scss";

.footer {
  padding-bottom: 0;
  padding-top: 0;

  a:hover,
  .footer a:hover * {
    color: $secondary;
  }

  ul {
    list-style: none;
  }

  .main {
    color: $main;
    text-align: left;

    [dir="rtl"] {
      text-align: right;
    }

    .main-inner {
      margin: 0 auto;
      max-width: 1440px;
      padding: 0;

      @include mq("sm") {
        padding: 0 32px;
      }
    }

    .logo-area {
      padding: 2rem 0;
      .product-logo {
        line-height: 1.875rem;
        margin: 0 auto 1rem auto;
        text-align: center;
        & a > div {
          display: inline-block;
        }
        .logo-img {
          height: 3rem;
          width: 6rem;
        }
      }
      @include mq() {
        float: left;
        padding: 0;
        .product-logo {
          text-align: left;
          .logo-img {
            height: 4rem;
            width: 8rem;
          }
        }
      }
    }

    // Sitemap (Accordion menu on SP)
    .sitemap {
      padding: 0;
      .footer-links {
        margin: 0;
        ul {
          list-style: none;
        }
        @include mq() {
          display: flex;
          border-top: none;
          justify-content: flex-end;
        }
      }
    }

    // foot area
    .foot {
      padding-top: 1rem;

      ul {
        margin: 0.5rem 1rem;
        a {
          color: $main-light;
          text-decoration: none;
          &:visited {
            color: $main-light;
          }
          li {
            display: inline-block;
            font-size: $font-small;
            font-weight: 600;
            margin-right: 1rem;
          }
        }
      }

      @include mq() {
        -ms-flex-align: center;
        align-items: center;
        border-top: 2px solid $main;
        display: -ms-flexbox;
        display: flex;
        padding-top: 2rem;
        li {
          margin-top: 0.125rem;
        }
      }
    }
  }
}

.footer {
  padding-bottom: 0;
  padding-top: 0;

  a:hover,
  .footer a:hover * {
    color: $secondary;
  }

  ul {
    list-style: none;
  }
}

.main {
  color: $main;
  text-align: left;
  //add
  padding: 2rem 0;

  [dir="rtl"] {
    text-align: right;
  }
  @include mq() {
    //add
    padding: 3rem 0;
  }
}

.mainInner {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0;
  @include mq("sm") {
    padding: 0 32px;
  }
}

// foot area
.foot {
  padding-top: 1rem;

  ul {
    margin: 0.5rem 1rem;
    a {
      color: $main-light;
      text-decoration: none;
      &:visited {
        color: $main-light;
      }
      li {
        display: inline-block;
        font-size: $font-small;
        font-weight: 600;
        margin-right: 1rem;
      }
    }
  }

  @include mq() {
    -ms-flex-align: center;
    align-items: center;
    border-top: 2px solid $main;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2rem;
    li {
      margin-top: 0.125rem;
    }
  }
}

.logoArea {
  padding: 2rem 0;
  @include mq() {
    float: left;
    padding: 0;
  }
}

.productLogo {
  line-height: 1.875rem;
  margin: 0 auto 1rem auto;
  text-align: center;
  & a > div {
    display: inline-block;
  }
  @include mq() {
    text-align: left;
  }
}

.sitemap {
  padding: 0;
}

.footerLinks {
  margin: 0;

  @include mq() {
    display: flex;
    border-top: none;
    justify-content: flex-end;
  }
}
