@import "../variables.scss";

.section {
  padding: 2rem 0;
  @include mq() {
    padding: 3rem 0;
  }

  &WrapIn {
    margin: 0 auto;
    max-width: 544px;
    position: relative;
    padding: 0 2rem;
    text-align: center;
    width: auto;
    @include mq("sm") {
      max-width: 1024px;
    }
    &Wide {
      @extend .sectionWrapIn;
      @include mq("sm") {
        max-width: 1440px;
      }
    }
  }

  &Line {
    border-bottom: 3px solid $secondary;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 4rem;
  }

  &AreaTitle {
    background: $primary;
    position: relative;
    height: auto;
    padding: 3rem 1.5rem 2rem 1.5rem;
    @include mq() {
      background: transparent;
      height: 325px;
      padding: 6rem 0 3rem 10%;
      &::before {
        background: $primary;
        content: "";
        position: absolute;
        height: 325px;
        top: 0;
        bottom: 0;
        left: calc(70% - 60px);
        transform: skewX(20deg);
        width: 119px;
      }
      &::after {
        background: $primary;
        content: "";
        position: absolute;
        height: 325px;
        top: 0;
        bottom: 0;
        left: 0;
        width: 70%;
        z-index: -10;
      }
    }
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
