.p-btn {
  background: $secondary;
  border: 1px solid #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  color: #fff;
  display: block;
  height: 3rem;
  margin: 0 auto;
  line-height: 3rem;
  text-align: center;
  transition: all 0.5s;

  &-round {
    @extend .p-btn;
    border-radius: 50px;
    font-size: $font-medium;
    font-weight: 400;
    margin-bottom: 0.25rem;
    width: 16rem;
    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      opacity: 1;
      top: -2px;
      &:visited {
        color: #fff;
      }
    }
    &:active {
      top: 2px;
    }
    &-on-dark {
      @extend .p-btn-round;
      &:hover {
        background: #fff;
        color: $secondary;
        border: 2px solid $secondary;
        opacity: 1;
        transform-origin: left top;
        transform: scale(1, 1);
        &:visited {
          color: $secondary;
        }
      }
    }
  }

  &-cancel {
    @extend .p-btn;
    background: $main-light;
    border: none;
    padding: 0 1rem;
    margin: 0 0.25rem;
  }

  &-apply {
    @extend .p-btn;
    border: none;
    padding: 0 1rem;
    margin: 0 0.25rem;
  }

  &-square {
    @extend .p-btn;
    height: 4rem;
    line-height: 4rem;
    font-size: $font-large;
    font-weight: 300;
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      content: "";
      background: $secondary;
      transform-origin: right top;
      transform: scale(0, 1);
      transition: transform 0.3s;
    }
    &:hover::before {
      opacity: 1;
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }

  &__scroll-top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #3f98ef;
    opacity: 0.6;
    border-radius: 50%;

    a {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      text-decoration: none;
      &::before {
        font-family: "Google Sans", Arial, Helvetica, sans-serif;
        font-weight: 900;
        content: "\f102";
        font-size: 25px;
        color: #fff;
        position: absolute;
        width: 25px;
        height: 25px;
        top: -5px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
      }
    }
  }
}
