.p-carousel {
  display: flex;
  flex-direction: row;

  &__item {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: 0;
    width: 100%;
    @include mq() {
      padding: 1rem;
      margin: 0 .25rem;
      width: 33.3333%;
    }
  }

  &__item-quarter {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
    width: 100%;
    @include mq() {
      margin: 0 .25rem;
      width: 25%;
    }
  }

  &__detail {
    display: flex;
    flex-direction: row;
    padding: 0 0 .5rem 0;
    order: 1;
    div {
      font-size: 1.25rem;
      font-weight: 600;
    }
    .schedule {
      text-align: left;
      margin: 0 auto 0 0;
    }
    .place {
      margin: 0 0 0 auto;
    }
  }

  &__image {
    order: 2;
    padding: .25rem .25rem 1rem .25rem;
    height: auto;
    width: 100%;
    position: relative;
    @include mq() {
      padding: .25rem .5rem 1.5rem .5rem;
    }
    &::before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }
    img {
      top: 0;
      left: 0;
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__title {
    order: 3;
    margin: .5rem 1rem .5rem 1rem;
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__description {
    list-style: none;
    order: 4;
    padding: 0 1rem;
    text-align: left;
    li {
      font-size: .9rem;
    }
    p {
      font-size: .9rem;
    }
  }

  &__label {
    font-size: 1.25rem;
    font-weight: 600;
    order: 5;
    margin: 0 auto 0 0;
    padding-left: 1rem;
  }

}