.p-icon {
  &__arrow {
    position: relative;
    vertical-align: middle;
    text-decoration: none;
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      content: "";
      vertical-align: middle;
    }

    &-next {
      @extend .p-icon__arrow;
      &::before {
        right: 1rem;
        content: "→";
      }
    }

    &-back {
      @extend .p-icon__arrow;
    }
  }
}
