.swiper-button {
  width: 48px !important;
  height: 48px !important;
  background-size: 48px 48px !important;
  margin-top: -24px !important;
  &-next {
    @extend .swiper-button;
    background-image: url("/img/icons/swiper-arrow.png") !important;
  }
  &-prev {
    @extend .swiper-button;
    background-image: url("/img/icons/swiper-arrow.png") !important;
    transform: scale(-1, 1);
  }
}
